{% assign page = site.posts.first %}
{% assign content = page.content %}

<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>

  <div class="post-info">
    <div class="info-container-class">
      <h2>Last Post: <small>{{ page.title }}</small></h2>
    </div>
  </div>
  <div class="post" style="padding-top:20px;">{{ content | strip_html | truncatewords: 50 }}</div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span>
      <span id="pub-date" style="float:right;"><a href="{{ page.url }}" style="float:right;margin-right:30px;">Read More</a></span>
    </p>
  </div>

  <div class="post-info">
    <div class="info-container-class">
      <h2 class="twitter_h2">Last GitHub Activity:</h2>
    </div>
  </div>
  <iframe allowtransparency="true" frameborder="0" scrolling="no" seamless="seamless" src="https://colmdoyle.github.io/gh-activity/gh-activity.html?user=mkpascal&type=user" width="500" height="300"></iframe>


</div>
